/*Author: Kevin Wu. 
CSS497 Faculty Research Project: Introducing Praat as Web-Services for Endangered Language Analysis
Winter 2016 

Access the website : http://peldaws.westus.cloudapp.azure.com/

The styles.css serve as the main css file for the web UI design. Most of the styling css
are within this file besides few are direcly in-text styled. You can search for in-text styled
object by simply search: "style" in the html file.  
*/

/************************************
 CSS for the whole content structure
 ************************************/
html,body
{
padding:0px;
margin:0px;
height:100%;

}

#header {
    background-color: #ffffff;
    color:white;
    text-align:center;
    padding:5px;
    
	border-bottom: 5px solid #0c0000;	
}

#checkboxes{
	position: absolute;
	left: 830px;
	top: 140px;
	line-height: 35px;
	width:  300px;
}

#fileNameText{
	position: absolute;
	left: 350px;
	color: #686262;
	text-align: left;
	top: -5px;
	width: 100px;
}
#fileName{
	position: absolute;
	left: 350px;
	color: #000000;
	text-align: left;
	top: 15px;
	width: 230px;
}

#lastModifyDateText{
	position: absolute;
	left: 600px;
	color: #686262;
	text-align: left;
	top: -5px;
	width: 150px;
}
#lastModifyDate{
	position: absolute;
	left: 600px;
	color: #000000;
	text-align: left;
	top: 15px;
	width: 400px;
}
#fileSizeText{
	position: absolute;
	left: 350px;
	color: #686262;
	top: 45px;
	text-align: left;
	width: 100px;
}
#fileSize{
	position: absolute;
	left: 350px;
	color: #000000;
	top: 65px;
	text-align: left;
	width: 250px;
}
#timeDurationText{
	position: absolute;
	left: 600px;
	color: #686262;
	top: 45px;
	text-align: left;
	width: 150px;
}
#timeDuration{
	position: absolute;
	left: 600px;
	color: #000000;
	top: 65px;
	text-align: left;
	width: 250px;
}

/**************************
 CSS for the Selection tag
 ***************************/

#selectAFile{
	position: relative;
	width: 425px;
	top:  -25px;
	font-size: 18px;
	left: -10px;
	height: 20px;
	border-bottom: 2px solid #000000;
	background-color: #c2bebe;
	text-align: left;
	padding-top: 5px;
}
#fileSelection{
	position: absolute;
	left: 15px;
	top: 43px;
	max-width:90%;
	font-size: 12px;
	width: 200px;
}
#select{
	border-radius: 5px;
	position: absolute;
	right: 85px;
	top: 43px;
	background-color: #d1cccc;
	font-size: 14px;
}

#close{
	border-radius: 5px;
	position: absolute;
	right: 20px;
	top: 43px;
	background-color: #d1cccc;
	font-size: 14px;
}


/**************************
 CSS for the Images 
 ***************************/
 
 #selectNewFile{
 	position: absolute;
 	top: 300px;
 	left: 430px;
 	z-index: 1;
 	width:300px;
}
 
 
.interactSection{
	position: absolute;
	top: 120px;
	left: 340px;
}

#showPitchRangeTop{
	position: absolute;
	top: 372px;
	left: 763px;
	z-index: 1;
	color: #1c1efe;
	width: 100px;
}
#showPitchRangeBottom{
	position: absolute;
	top: 555px;
	left: 763px;
	z-index: 1;
	color: #1c1efe;
	width: 50px;
}

#showIntensityRangeTop{
	position: absolute;
	top: 372px;
	left: 707px;
	z-index: 1;
	color: #0eca03;
	width:  100px;
	text-shadow: 0 0 1px #050505;
}
#showIntensityRangeBottom{
	position: absolute;
	top: 555px;
	left: 724px;
	z-index: 1;
	color: #0eca03;
	width:  100px;
	text-shadow: 0 0 1px #050505;
}

#showHz{
	position: absolute;
	color: #fe0909;
	height: 25px;
	left: 336px;
	font-size: 13px;
	font-weight: bold;
	width: 5 px;
	background-color: #ffffff;
	padding-top: 10px;
	opacity: 0.89;
}




.showHorizontal{
	position: absolute;
	left: 385px;
	border-bottom: 2px dotted #dc4040;
	word-spacing: 100px 
	z-index:  3;
	color: #f90606;
	width:  375px;
}

#blockTimes1{
	position:  absolute;
	top: 329.5px;
	left: 762px;
	width: 20px;
	background-color: #ffffff;
	
}

#blockTimes2{
	position:  absolute;
	top: 337.5px;
	left: 350px;
	width: 440px;
	background-color: #ffffff;
	
}
#showTimesLeft{
	position:  absolute;
	top: 575px;
	left: 360px;
	width: 450px;
	background-color: #ffffff;
	font-size: 11px;
}

#showTimesRight{
	position:  absolute;
	top: 575px;
	left: 756px;
	font-size: 11px;
}


.afterClick{
	position: absolute;
	top: 131px;
	border-left: 2px dotted #fe0909;
	height:  440px;
	left: 0;
	z-index: 3;
}

.afterDisplay{
	position: absolute;
	top: 133px;
	height:  438px;
	
	z-index: 5;
	opacity: 0.6;
	background-color: #5a5050;
}


/**************************
 CSS for the menus
 ***************************/
 
 #leftMenuBar{
 	position : absolute;
 	top: 145px ;
 	left:  50px;
 }
 
.menu{
	position: absoulte;
	display: inline-block;
	left: 50px;
}

.play{
	background-color: white;
	color: black;
	font-size: 14px;
	cursor: pointer;
	height: 35px;
	width: 100px;
	border: 1px solid #131212;
	
	text-align: center;
	position: relative;
	border-radius: 5px;
}
.mainmenu{
	background-color: white;
	
	color: black;
	font-size: 14px;
	cursor: pointer;
	height: 35px;
	width: 100px;
	border: 1px solid #131212;
	
	text-align: center;
	position: relative;
	border-radius: 5px;
}

.drop-content{
	
	background-color: #f9f9f9;
	display: none;
	min-width: 124px;
	
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border: 1px solid #111010;
	z-index: 1;
	width: 180px;
	position: absolute;
	font-size: 14px;
	left: 90px;
	margin-top: -33px;
}

.drop-content a {
	border-bottom: 1px solid #555;
	color: black;
	text-decoration: none;
	display: block;
	padding: 5px;
}
.drop-content a:hover {
	background-color: #78b6fb
}

.menu:hover .drop-content {
    display: block;
}

.menu:hover .mainmenu{
    background-color: #aaa8a6;
    height: 35px ;
    width: 90px;
    text-align: center;
	font-size: 12px;
}

.play:hover{
	background-color: #aaa8a6;
}

/* Other sub Buttons*/ 
.uploadFile {
	display: inline-block;
    background: #c6c5c5;
    border: 1px solid #040404;
    border-radius: 4px;
	overflow: hidden;
    color: #000000;
	text-indent: 0;
    line-height: 0px;
	width: 220px;
	height: 20px;
	left: 50px;
	text-align: center;
	font-size: 16px;
	margin: 0;
	opacity: 1;
	position: absolute;
	top: 7px;
	padding: 20px 1px 1px;
}
.uploadFile input {
    position: absolute;
    font-size: 100px;
    left:  30 px;
    right: 0;
    top: 0 ;
    opacity: 0;
}
.selectFromList{
	background-color:  #c6c5c5;
	color: black;
	font-size: 16px;
	cursor: pointer;
	height: 40px;
	width: 224px;
	border: 1px solid #131212;
	
	text-align: center;
	position:absolute;
	left: 50px;
	top:  55px;
	border-radius: 5px;
	
	
}

.selectFromList:hover{
	background: #aaa5a5;
	color: #000000;
}
.uploadFile:hover {
    background: #aaa5a5;
    color: #000000;
}

.Script{
	border: 1px solid #0e0000;
	font-size: 16px;
	float: none;
	display: block;
	height: 25px;
	width: 110px;
	position: absolute;
	left: 830px;
	border-radius: 5px;
	top: 75px;
}

.Script:hover{
	background-color: #aaa5a5;
}

#Save{
	border: 1px solid #0a0000;
	font-size: 16px;
	float: right;
	display: block;
	position: absolute;
	left: 830px;
	top: 548px;
	width: 110px;
	height: 25px;
	border-radius: 5px;
}

#Save:hover{
	background-color: #aaa5a5;
}

.printbox{
	border: 1px solid #0a0000;
	font-size: 16px;
	float: right;
	display: block;
	position: absolute;
	left: 830px;
	top: 580px;
	width: 110px;
	height: 25px;
	border-radius: 5px;
}

.printbox:hover{
	background-color: #aaa5a5;
}

#all{
	position: absolute;
	top: 630px;
	left: 372px;
	width: 80px;
	border: 1px solid #000000;
	border-radius: 5px;
}
#in{
	position: absolute;
	top: 630px;
	left: 472px;
	width: 80px;
	border: 1px solid #000000;
	border-radius: 5px;
}
#out{
	position: absolute;
	top: 630px;
	left: 572px;
	width: 80px;
	border: 1px solid #000000;
	border-radius: 5px;
}

#sel{
	position: absolute;
	top: 630px;
	left: 672px;
	width: 80px;
	border: 1px solid #000000;
	border-radius: 5px;
}

.bottomButton:hover{
	background-color: #aaa5a5;
}


#timeLabel{
	position: absolute;
	left: 410px;
	top: 593px;
	width: 420px;
	height:  35px;
}
#selTimeLabel{
	position: absolute;
	left: 450px;
	top: 98px;
	width: 500px;
}

#sourceCode{
	position: absolute;
	top: 540px;
	left: 40px;
	display: inline-block;
	z-index: -2;
}
#sourceLink{
    display: inline;
	position: absolute;
	left: 40px;
	top: 575px;
	font-size: 14 px;
	float: right;
}

#otherSource{

	position: absolute;
	top: 580px;
	left: 40px;
}


#peldaLink{
    display: inline;
	position: absolute;
	left: 40px;
	top: 615px;
	font-size: 14 px;
	float: right;
}
#deeplearningLink{
    display: inline;
	position: absolute;
	left: 40px;
	top: 635px;
	font-size: 14 px;
	float: right;
}

/* unvisited link */
a.source:link {
    color: blue;
}

/* visited link */
a.source:visited {
    color: red;
}

a.source:hover {
    color: #e10c76;
}
/******************************************************
The lines that seperated the overall area 
*******************************************************/

hr {
    display: block;

    height: 1px;
    border: 0;
	border-top: 3px solid #000000;
	margin: 1em -8px;
	padding: 0;
	width:  1345px;   
}
div.hori{
	position: relative;
	height: 50%;
}

div.split {
    position: relative;
    height: 50px;
    width: 400px;
	color: #000000;
	background-color: #ffffff;
}

div.split:after {
    content: "";
    display: block;
    width: 1px;
    height: 750px;
	border-left: 2px solid #000000;
	position: absolute;
    top: -20px;
    left: 325px;
	color: #000000;
}

/******************************************************
The pop up box for selecting file from list 
*******************************************************/
.dumbBoxWrap { /* The div that shows/hides. */ 
	 
	display:none ; /* starts out hidden */ 
	z-index:40001; /* High z-index to ensure it appears above all content */ 
} 


.vertical-offset { /* Fixed position to provide the vertical offset */ 
	position:fixed; 
	top:30%; 
	width:100%; 
	z-index:40002; /* ensures box appears above overlay */ 
 }
 
 .dumbBox { /* The actual box, centered in the fixed-position div */ 
   width:405px;
   top: -150px;
   left:330px; 
   height: 140px; 
   
   
   position:absolute;
   margin:0 auto; /* Everything below is just visual styling */ 
   background-color:white; 
   padding:10px;
 	border: 2px solid black;
 	-moz-box-shadow: 1px 1px #b4adad;
 	box-shadow: 1px 1px #b4adad;
 }
 
 
